<section class="container">
  <section class="card">
    <section class="grid">
      <header>
        注册送
      </header>
      <main routerLink="login-activity">
        <div class="left left-doing-img"></div>
        <div class="right">
          <div class="top bg-doing-img">
            <img src="assets/images/activity/doing@2x.png" alt="" width="100%">
          </div>
          <div class="down text-center bg-doing-font">立即参与</div>
        </div>
      </main>
      <footer>
        2017年04月18日起至2017年05月10日
      </footer>
      <div></div>
      <div></div>
    </section>
  </section>
  <section class="card">
    <section class="grid">
      <header>
        充值送
      </header>
      <main routerLink="recharge-activity" class="relative">
        <div class="shade"></div>
        <div class="left left-done-img">
        </div>
        <div class="right">
          <div class="top bg-done-img">
            <img src="assets/images/activity/done@2x.png" alt="" width="100%">
          </div>
          <div class="down text-center bg-done-font">点击查看</div>
        </div>
      </main>
      <footer>
        2017年04月18日起至2017年05月10日
      </footer>
      <div></div>
      <div></div>
    </section>
  </section>
</section>
