
<section class="container">
  <div class="img-banner">
  <img md-card-sm-image src="assets/images/activity/recharge@2x.png" width="100%">
  </div>
  <div>
    <button class="btn button">立即充值</button>
  </div>
  <article class="detail">
    <div class="in">
      <h4>首充50送50</h4>
      <p> 彩票旗舰店为了扩大规模提高影响力，特放血大方送，凡是在彩票店<b>经过实名认证后</b>的彩民朋友，首次充值50元额外再送50元，赠送彩金<b>长期有效</b> </p>
      <div class="zhu">
        <p>注:</p>
        <p>1.活动时间：2017年X月X日至201X年X日</p>
        <p>2.活动赠送的投注金只能用于购买彩票店在售彩票，不可提现</p>
        <p>3.活动最终解释权归XXXX所有</p>
      </div>
    </div>
  </article>
</section>
