<section class="container">
  <div class="img-banner">
    <img src="assets/images/activity/login@2x.png" width="100%">
  </div>
  <div>
    <button class="btn button">立即领取</button>
  </div>
  <article class="detail">
    <div class="in">
      <h4>注册得3.9</h4>
      <p> 在彩票站扫描彩票站业务人员提供的二维码下载并注册彩站助手，注册成功的用户账户即自动获得3.9元人民币投注进 </p>
      <div class="zhu">
        <p>注:</p>
        <p>1.活动时间：2017年X月X日至201X年X日</p>
        <p>2.活动赠送的投注金只能用于购买彩票店在售彩票，不可提现</p>
        <p>3.活动最终解释权归XXXX所有</p>
      </div>
    </div>
  </article>
</section>
